

				.primary-font, .tm-button, button, input, select, textarea{ font-family: Poppins }
				.primary-font-important { font-family: Poppins !important }
				h1,.h1{font-size: 39.2px}
				h2,.h2{font-size: 25.2px}
				h3,.h3{font-size: 23.1px}
				h4,.h4{font-size: 16.8px}
				h5,.h5{font-size: 14px}
				h6,.h6{font-size: 9.8px}

				@media  (min-width: 544px) and (max-width: 1199px)  {
					h1,.h1{font-size: calc(39.2px + (56 - 39.2) * ((100vw - 554px) / 646))}
					h2,.h2{font-size: calc(25.2px + (36 - 25.2) * ((100vw - 554px) / 646))}
					h3,.h3{font-size: calc(23.1px + (33 - 23.1) * ((100vw - 554px) / 646))}
					h4,.h4{font-size: calc(16.8px + (24 - 16.8) * ((100vw - 554px) / 646))}
					h5,.h5{font-size: calc(14px + (20 - 14) * ((100vw - 554px) / 646))}
					h6,.h6{font-size: calc(9.8px + (14 - 9.8) * ((100vw - 554px) / 646))}
				}
			
				.boxed
				{
	                max-width: 1200px;
	            }.page-content { padding-top: 0 !important;; }
                blockquote:before,
                .sticky span,
                .comment-list .comment-actions a,
                mark,
                .error404 .error-404-big-title,
                .page-close-mobile-menu:hover,
                .growl-close:hover,
                .primary-color,
                .tm-button.style-flat.tm-button-primary:hover,
				.tm-button.style-outline.tm-button-primary,
				.tm-button.style-text.tm-button-primary,
				.tm-button.style-text.tm-button-primary:hover .button-icon,
				.tm-box-icon .tm-button .button-icon,
				.tm-box-icon .tm-button:hover,
				.tm-box-icon.style-1 .icon,
				.tm-box-icon.style-3 .icon,
				.tm-box-icon.style-5 .icon,
				.tm-box-icon.style-6 .icon,
				.tm-box-icon.style-8 .content-wrap a.tm-button .button-icon,
				.tm-box-icon.style-9 .icon,
				.tm-contact-form-7 .form-icon,
				.tm-popup-video.style-button-06 a .video-text:after,
				.header-21 .info-icon,
				.tm-swiper.nav-style-3 .swiper-nav-button:hover,
				.tm-swiper.nav-style-6 .swiper-nav-button:hover,
				.tm-counter.style-01 .number-wrap,
				.tm-counter.style-02 .number-wrap,
				.tm-circle-progress-chart .chart-icon,
				.tm-maps.overlay-style-02 .middle-dot,
				.tm-product-banner-slider .tm-product-banner-btn,
				.tm-countdown.skin-dark .number,
				.tm-countdown.skin-dark .separator,
				.tm-slider-button.style-04 .slider-btn:hover,
				.tm-drop-cap.style-1 .drop-cap,
				.typed-text mark,
				.typed-text .typed-cursor,
				.tm-attribute-list.style-01 .icon,
				.tm-twitter.style-slider-quote .tweet-info:before,
				.tm-twitter.style-slider-quote .tweet-text a,
				.tm-twitter .tweet:before,
				.tm-heading.modern-with-separator .heading,
				.tm-button.tm-button-secondary.style-text:hover,
				.tm-button.style-border-text.tm-button-primary,
				.tm-button.style-border-text.tm-button-secondary .button-icon,
				.tm-button.style-border-text.tm-button-primary .button-icon,
				.tm-box-icon.style-1 .tm-box-icon__btn,
				.tm-box-icon.style-11 .icon,
				.tm-case-study.style-grid .post-read-more span,
				.tm-case-study.style-grid-caption-2 .post-read-more a,
				.tm-info-boxes .box-icon,
				.tm-box-icon.style-3 .icon,
				.tm-box-icon.style-4 .icon,
				.tm-box-icon.style-10 .heading-wrap:hover .icon,
				.header-19 .info-icon,
				.tm-info-boxes .tm-button .button-icon,
				.tm-team-member .social-networks a:hover,
				.tm-instagram .instagram-user-name,
				.tm-blog .post-title a:hover,
				.tm-blog .post-categories a:hover,
				.tm-blog.style-list .post-author-meta a:hover,
				.tm-blog.style-02 .post-read-more .btn-icon,
				.tm-blog.style-grid_classic_02 .post-categories,
				.tm-blog.style-grid_classic_02 .post-author-meta a:hover,
				.tm-blog.style-01 .post-categories,
				.tm-blog.style-01 .post-read-more,
				.tm-blog.style-04 .post-date span,
				.tm-blog.style-metro .post-date span,
				.tm-blog.style-carousel_02 .post-read-more a,
				.tm-blog.style-carousel_02 .post-read-more .btn-icon,
				.tm-blog.style-03 .post-read-more .btn-icon,
				.tm-blog.style-05 .post-read-more,
				.tm-box-icon.style-2 .tm-box-icon__btn,
				.tm-case-study .post-title a:hover,
				.tm-case-study .post-categories:hover,
				.tm-case-study.style-simple-list .grid-item:hover .post-title,
				.tm-service .post-read-more .btn-icon,
				.tm-service-feature.style-01 .icon,
				.tm-service.style-04 .post-icon,
				.tm-service.style-05 .post-icon,
				.tm-office-info .link a:after,
				.tm-office-info .info > div:before,
				.tm-category-feature.style-01 .icon,
				.tm-product.style-grid .woosw-btn.woosw-added,
				.tm-pricing .feature-icon,
				.tm-pricing.style-2 .price-wrap-inner,
				.tm-pricing-rotate-box .tm-pricing-list li:before,
				.tm-service-pricing-menu .service-cost,
				.tm-testimonial.style-3 .testimonial-by-line,
				.tm-swiper.nav-style-7 .swiper-nav-button:hover,
				.tm-list .marker,
				.tm-list .link:hover,
				.tm-list.style-modern-icon-04 .marker,
				.tm-social-networks .link:hover,
				.woosw-popup .woosw-popup-inner .woosw-popup-content .woosw-popup-content-top .woosw-popup-close:hover,
				.woosw-popup .woosw-popup-inner .woosw-popup-content .woosw-popup-content-bot .woosw-popup-content-bot-inner .woosw-page:hover,
				.woosw-popup .woosw-popup-inner .woosw-popup-content .woosw-popup-content-bot .woosw-popup-content-bot-inner .woosw-continue:hover,
				.skin-primary .wpcf7-text.wpcf7-text, .skin-primary .wpcf7-textarea,
				.tm-menu .menu-price,
				.page-content .tm-custom-menu.style-1 .menu a:hover,
				.post-share a:hover,
				.post-share-toggle,
				.single-post .post-meta .sl-icon,
				.single-post .entry-banner .post-meta a:hover,
				.post-share .post-share-title:before,
				.single-post .post-tags span:before,
				.related-posts .related-post-title a:hover,
				.single-case_study .entry-banner .post-categories,
				.simple-footer .social-networks a:hover,
				.widget_recent_entries .post-date:before,
				.tm-mailchimp-form.style-1 input[type="email"]:focus,
				.tm-mailchimp-form.style-3 .form-submit,
				.tm-mailchimp-form.style-5 .form-submit:hover,
				.tm-mailchimp-form.style-6 .form-submit,
				.tm-mailchimp-form.style-11 .form-submit:hover:after,
				.page-sidebar-fixed .widget a:hover,
				.top-bar-office-wrapper .office-list a:hover,
				.menu--primary .menu-item-feature,
				.nav-links a:hover:after,
				.page-main-content .search-form .search-submit:hover .search-btn-icon,
				.widget_search .search-submit:hover .search-btn-icon, .widget_product_search .search-submit:hover .search-btn-icon,
				.tm-testimonial.style-8.pagination-style-8 .swiper-pagination .swiper-pagination-current,
				.tm-cta-box .info .link a,
				.tm-popup-video.style-button-05 a .video-play,
				.tm-case-study.style-carousel-2 .post-info .post-number,
				.tm-case-study.style-carousel-2 .post-info .post-read-more:after
				{
					color: #157370
				}
                .primary-color-important,
				.primary-color-hover-important:hover,
				.tm-mailchimp-form.style-10 .mc4wp-form-fields .form-submit
				 {
                      color: #157370!important;
				 }
                
                .primary-background-color-important,
				.primary-background-color-hover-important:hover,
				.woosc-area .woosc-inner .woosc-bar .woosc-bar-btn,
				.lg-progress-bar .lg-progress,
				.wpb-js-composer .vc_tta.vc_general.vc_tta-style-tractor-03 .vc_tta-tab > a:before
				{
					background-color: #157370!important;
				}
                .btn-view-full-map
				{
					background-color: rgba(21,115,112,0.7);
				}
                .tm-popup-video.style-poster-01 .video-overlay
				{
					background-color: rgba(21,115,112,0.8);
				}
                .tm-timeline.style-01 .dot,
                .tm-gradation .dot,
                .single-post .post-link,
                .single-post .post-quote-overlay
				{
					background-color: rgba(21,115,112,0.18);
				}
                .tm-timeline.style-01 .dot:before,
                .tm-gradation .dot:before
				{
					background-color: rgba(21,115,112,0.29);
				}
				.primary-border-color,
				blockquote,
                input[type="text"]:focus,
                input[type="email"]:focus,
                input[type="url"]:focus,
                input[type="password"]:focus,
                input[type="search"]:focus,
                input[type="number"]:focus,
                input[type="tel"]:focus,
                input[type="range"]:focus,
                input[type="date"]:focus,
                input[type="month"]:focus,
                input[type="week"]:focus,
                input[type="time"]:focus,
                input[type="datetime"]:focus,
                input[type="datetime-local"]:focus,
                input[type="color"]:focus, textarea:focus,
                select:focus,
                .single-post .post-categories a:hover,
                .error404 .error-404-search-form-wrap .search-field,
                .header-search-form-wrap .search-form .search-field:focus,
                .widget .mc4wp-form input[type=email]:focus,
                .tm-blog.style-list .post-categories a:hover,
                .tm-blog.style-01 .post-read-more,
                .tm-swiper.nav-style-4 .swiper-nav-button,
                .tm-swiper.nav-style-5 .swiper-nav-button,
				.tm-button.style-outline.tm-button-primary,
				.tm-button.style-flat.tm-button-primary,
				.tm-button.style-border-icon,
				.tm-button.style-outline.tm-button-grey:hover,
				.tm-blog.style-grid_classic_02 .post-categories a:hover,
				.tm-social-networks.style-rounded-icon-title .item:hover .link-icon,
				.tm-gallery-slider .lSAction .lSPrev:hover .nav-button-icon:before, .tm-gallery-slider .lSAction .lSNext:hover .nav-button-icon:before,
				.tm-box-icon.style-3 .icon,
				.tm-box-icon.style-4 .icon,
				.tm-box-icon.style-5:hover .icon-image-wrap,
				.tm-box-icon.style-7:hover .icon-image-wrap,
				.tm-case-study.style-grid .post-read-more,
				.tm-case-study.style-grid .post-thumbnail-wrap:hover .post-read-more,
				.tm-case-study.style-grid-caption-2 .post-read-more a,
				.tm-pricing.style-2.tm-pricing-featured .inner:after,
				.tm-grid-wrapper .tm-filter-button-group-inner,
				.tm-contact-form-7.style-02 .wpcf7-text:focus,
				.tm-contact-form-7.style-02 .wpcf7-date:focus,
				.tm-contact-form-7.style-02 .wpcf7-select:focus,
				.tm-contact-form-7.style-02 .wpcf7-textarea:focus,
				.tm-pricing.style-1.tm-pricing-featured .inner,
				.tm-mailchimp-form.style-9 input[type="email"]:focus,
				.tm-mailchimp-form.style-1 input[type="email"],
				.tm-swiper .swiper-nav-button:hover,
				.tm-swiper .swiper-pagination-bullet:hover:before, .tm-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active:before,
				.tm-social-networks.style-solid-rounded-icon .item:hover .link,
				.tm-social-networks.style-solid-rounded-icon-02 .item:hover .link,
				.tm-testimonial.style-4 .swiper-custom-btn:hover,
				.widget_archive a:hover,
				.widget_categories a:hover,
				.widget_categories .current-cat-ancestor > a,
				.widget_categories .current-cat-parent > a,
				.widget_categories .current-cat > a,
				.widget_pages .current-menu-item, .widget_nav_menu .current-menu-item, .insight-core-bmw .current-menu-item,
				.post-type-service .page-sidebar .widget_pages .current-menu-item,
				.post-type-service .page-sidebar .widget_nav_menu .current-menu-item,
				.post-type-service .page-sidebar .insight-core-bmw .current-menu-item,
				.post-share-toggle:hover,
				.tm-slider-button.style-03 .slider-btn:hover,
				.tm-popup-video.style-button-05 a .video-play,
				.tm-jobs-box .tm-jobs-box-top .link a:hover:after
				{
					border-color: #157370;
				}
                
                .tm-grid-wrapper .filter-counter:before,
                .hint--primary.hint--top-left:before,
                .hint--primary.hint--top-right:before,
                .hint--primary.hint--top:before,
                .tm-service.style-carousel_07 > .tm-service-pagination > .swiper-container > .swiper-wrapper .swiper-slide .post-info:after
                {
					border-top-color: #157370;
				}
                .hint--primary.hint--right:before,
                .rtl .vc_tta.vc_general.vc_tta-style-tractor-tour-02 .vc_tta-tabs-list .vc_tta-tab:after
                {
					border-right-color: #157370;
				}
				.page-main-content .wp-block-quote:not(.is-large):not(.is-style-large),
                .tm-team-member .has-border-left,
                .vc_tta.vc_general.vc_tta-style-tractor-tour-01 .vc_tta-tabs-list .vc_tta-tab:after,
                .vc_tta.vc_general.vc_tta-style-tractor-tour-02 .vc_tta-tabs-list .vc_tta-tab:after
                {
					border-left-color: #157370;
				}
                .hint--primary.hint--bottom-left:before,
                .hint--primary.hint--bottom-right:before,
                .hint--primary.hint--bottom:before,
                .tm-mailchimp-form.style-8 input[type="email"]:focus,
                .tm-mailchimp-form.style-11 input[type="email"]
                {
					border-bottom-color: #157370;
				}
                .hint--primary.hint--left:before
                {
                    border-left-color: #157370;
                }
				.tm-popup-video.style-poster-01
				{
					box-shadow: 0 0 40px rgba(21,115,112,0.4);
				}.tm-maps.overlay-style-02 .animated-dot .signal2
			{
				box-shadow: inset 0 0 35px 10px #157370;
			}.testimonial-info svg *, .tm-testimonial.style-8 .testi-quote svg *
			{
				fill: #157370;
			}
			.tm-heading.medium-separator .separator:after,
			.tm-heading.above-medium-separator .separator:after,
			.tm-pricing-rotate-box .title
			 {
				background-color: #157370;
				background-image: linear-gradient(136deg, #157370 0%, #9fc1a8 100%);
			}
			.tm-mailchimp-form.style-8 .form-submit
			 {
				background-color: #157370;
				background-image: linear-gradient(-136deg, #157370 0%, #9fc1a8 50%,  #157370 100%);
			}
				.secondary-color,
				input[type="text"]:focus,
                input[type="email"]:focus,
                input[type="url"]:focus,
                input[type="password"]:focus,
                input[type="search"]:focus,
                input[type="number"]:focus,
                input[type="tel"]:focus,
                input[type="range"]:focus,
                input[type="date"]:focus,
                input[type="month"]:focus,
                input[type="week"]:focus,
                input[type="time"]:focus,
                input[type="datetime"]:focus,
                input[type="datetime-local"]:focus,
                input[type="color"]:focus, textarea:focus,
                select:focus,
				.topbar a,
				.tm-button.tm-button-secondary.style-text,
				.tm-button.tm-button-secondary.style-text:hover .button-icon,
				.tm-button,
				.tm-button.style-flat.tm-button-secondary:hover,
				.tm-button.style-border-text.tm-button-secondary,
				.comment-list .comment-actions a:hover,
				.tm-twitter.style-slider-quote .tweet-text a:hover,
				.tm-blog.style-grid_classic_02 .post-categories a:hover,
				.tm-blog.style-01 .post-categories a:hover,
				.tm-blog.style-grid_classic_02 .post-title a,
				.tm-blog.style-grid_classic_02 .post-title a:hover,
				.tm-blog.style-03 .post-categories a,
				.tm-blog.style-01 .post-title a,
				.tm-blog.style-01 .post-title a:hover,
				.tm-popup-video .video-button,
				.tm-mailchimp-form.style-2 .form-submit:hover,
				.tm-mailchimp-form.style-6 input[type="email"],
				.tm-mailchimp-form.style-5 .form-submit,
				.tm-contact-form-7.style-03 .wpcf7-submit:hover,
				.single-post .post-link a,
				.single-post .post-categories a:hover,
				.tm-slider-button.style-04 .slider-btn,
				.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-title>a,
				.comment-list .comment-datetime:before,
				.page-pagination li a:hover, .page-pagination li a:focus,
				.nav-links a:hover div,
				.page-links > span, .page-links > a:hover, .page-links > a:focus,
				.comment-nav-links li a:hover, .comment-nav-links li a:focus,
				.tm-pricing.style-1 .price-wrap-inner,
				.tm-slider-button.style-04 .slider-btn
				{
					color: #9fc1a8
				}
				.secondary-color-important,
				.secondary-color-hover-important:hover
				{
					color: #9fc1a8!important;
				}
				.secondary-background-color,
				.tm-heading.above-thick-separator .separator:after,
				.tm-heading.beside-thick-separator:before,
				.tm-button.style-flat.tm-button-secondary,
				.tm-button.style-outline.tm-button-secondary:hover,
				.tm-button.style-modern:after,
				.tm-button.style-border-icon:after,
				.tm-list.style-modern-icon-02 .list-item:hover .marker,
				.tm-blog.style-list .post-read-more a:hover,
				.tm-blog.style-03 .post-categories a:hover,
				.widget_archive .count,
				.widget_categories .count,
				.widget_product_categories .count,
				.top-bar-01 .top-bar-button:hover,
				.tm-contact-form-7.style-03 .wpcf7-submit,
				.tm-search-form .search-submit:hover,
				.vc_tta-color-secondary.vc_tta-style-classic .vc_tta-tab>a,
				.vc_tta-color-secondary.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading,
				.vc_tta-tabs.vc_tta-color-secondary.vc_tta-style-modern .vc_tta-tab > a,
				.vc_tta-color-secondary.vc_tta-style-modern .vc_tta-panel .vc_tta-panel-heading,
				.vc_tta-color-secondary.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-body,
				.vc_tta-color-secondary.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading,
				.vc_tta-color-secondary.vc_tta-style-flat .vc_tta-tab>a,
				.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel:not(.vc_active) .vc_tta-panel-heading:focus,
				.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel:not(.vc_active) .vc_tta-panel-heading:hover,
				.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-tab:not(.vc_active) >a:focus,
				.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-tab:not(.vc_active) >a:hover,
				.tm-swiper.pagination-style-6 .swiper-pagination-bullet.swiper-pagination-bullet-active:before, .tm-swiper.pagination-style-6 .swiper-pagination-bullet:hover:before
				{
					background-color: #9fc1a8;
				}
				.secondary-background-color-important,
				.secondary-background-color-hover-important:hover,
				.mejs-controls .mejs-time-rail .mejs-time-current
				{
					background-color: #9fc1a8!important;
				}.secondary-border-color,
				.tm-button.style-outline.tm-button-secondary,
				.tm-button.style-border-icon:hover,
				.tm-contact-form-7.style-03 .wpcf7-submit,
				.vc_tta-color-secondary.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading,
				.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading,
				.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-controls-icon::after,
				.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-controls-icon::before,
				.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-body,
				.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-body::after,
				.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-body::before,
				.vc_tta-tabs.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-tab > a
				{
					border-color: #9fc1a8;
				}.secondary-border-color-important,
				.secondary-border-color-hover-important:hover,
				.tm-button.style-flat.tm-button-secondary
				{
					border-color: #9fc1a8!important;
				}.page-title-bar-inner{ background-image: url(../wp-content/uploads/2023/08/SEGURO-AUTOS.jpg)!important; }.page-mobile-main-menu {
                	background: #157370;
                }.lg-backdrop { background-color: #dd9933 !important; }

#tm-spacer-68ae8480a7e5e { height:25px; }#tm-row-68ae8480a84bc {padding-top : 120px !important;padding-bottom : 100px !important;}#tm-image-68ae8480aa138{ text-align: center }#tm-image-68ae8480aadda{ text-align: center }#tm-image-68ae8480ab6ef{ text-align: center }#tm-image-68ae8480ac580{ text-align: center }#tm-image-68ae8480aca25{ text-align: center }#tm-image-68ae8480acee4{ text-align: center }#tm-image-68ae8480ad47c{ text-align: center }#tm-image-68ae8480ad841{ text-align: center }#tm-spacer-68ae8480adb9e { height:23px; }